.social-banner
  display flex
  background-color #fff
  width 100%
  top 0
  padding 10px
  position absolute
  left 0

  .fb-like
    margin-right 10px

  .twitter-share-button
    margin-right 10px
