.social-link
  background #fff url(../images/button-bg.png) no-repeat
  color #f6c500
  font-family Bebas Neue, Arial, Helvetica, sans-serif
  font-size 24pt
  padding 20px
  margin-right 5px
  text-decoration none

  @media screen and (max-width: 568px)
    font-size 12pt
    padding 5px
