.social-link
  background #fff url(../images/button-bg.png) no-repeat
  color #f6c500
  font-family Bebas Neue, Arial, Helvetica, sans-serif
  font-size 24pt
  padding 20px
  margin-right 5px
  text-decoration none

  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)
    background #fff url(../images/button-bg.png) no-repeat
    color #f6c500
    font-family Bebas Neue, Arial, Helvetica, sans-serif
    font-size 16pt
    padding 10px
    margin-right 5px
